#page-description{
    text-align: center;
    color: #C23A4B;
}

#page-description p{
    margin: 0;
}

@media screen and (max-width: 480px) {
    #page-description h1{
        font: normal 2rem Comfortaa;
        margin: 0 0 0.5rem;
    }

    #page-description p{
        font: 1rem Comfortaa;
        padding: 0.5rem;
    }
}

@media screen and (min-width: 481px) and (max-width: 1199px) {
    #page-description h1{
        font: normal 2rem Comfortaa;
        margin: 0 0 1rem;
    }

    #page-description p{
        font-size: 1rem;
        padding: 1rem 8%;
    }
}

@media screen and (min-width: 1200px){
    #page-description h1{
        font: normal 3rem Comfortaa;
        margin: 0 0 1rem;
    }

    #page-description p{
        font-size: 1.5rem;
        padding: 1rem 10%;
    }
}
