.artwork-preview {
    cursor: pointer;
    padding: 0.7rem;
    display: flex;
}

.artwork-preview img {
    max-width: 100%;
    border-radius: 0.5rem;
}

.artwork-preview .preview-info{
    margin: auto;
    padding: 1rem;
}

@media screen and (max-width: 480px) {
    .artwork-preview {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (min-width: 481px) {
    .artwork-preview img {
        width: 45%;
    }

    .artwork-preview .preview-info{
        width: 55%;
        padding: 1rem;
    }
}
