.page-title {
    text-align: center;
    color: #C23A4B;
}

.page-title.border-bottom {
    padding-bottom: 0.3rem;
}

@media screen and (max-width: 480px) {
    .page-title {
        font: normal 2rem Comfortaa;
        margin: 0 0 0.5rem;
    }
}

@media screen and (min-width: 481px) and (max-width: 1199px) {
    .page-title {
        font: normal 2rem Comfortaa;
        margin: 0 0 1rem;
    }
}

@media screen and (min-width: 1200px){
    .page-title {
        font: normal 3rem Comfortaa;
        margin: 0 0 1rem;
    }
}
