.search-bar{
    display:inline-flex;
    border-radius: 30px;
    background-color: #F7D490;
}

.search-bar.small{
    height: 42px;
}

.search-bar.normal{
    height: 48px;
}

.search-bar input{
    color: #FEF6ED;
    font: 16px Comfortaa;
    padding: 0 0 0 20px;
    border: none;
    outline: none;
    border-radius: 30px 0 0 30px;
    background-color: #F7D490;
}

.search-bar.small input{
    width: 220px;
}

.search-bar.normal input{
    width: 400px;
}

.search-bar button{
    border:none;
    padding: 0;
    margin: 0;
    cursor:pointer;
    width: 46px;
    height: 42px;
    border-radius: 0 30px 30px 0;
    z-index: 900;
    transition: all 0.3s ease-out;
    background: #C23A4B url("../../assets/icons/white/searchWhite.svg") no-repeat 5px/32px;
}

.search-bar button:hover{
    border-radius: 30px;
}

.search-bar.small button:hover{
    width: 60px;
    height: 42px;
    background-position: 15px 5px;
}

.search-bar.normal button{
    width: 52px;
    height: 48px;
    background: #C23A4B url("../../assets/icons/white/searchWhite.svg") no-repeat 6px/36px;
}

.search-bar.normal button:hover{
    width: 70px;
    height:48px;
    background-position: 17px 6px;
}
