.search-bar{
    display:inline-flex;
    border-radius: 1.875rem;
    background-color: #F7D490;
}

.search-bar.small{
    height: 2.625rem;
}

.search-bar.normal{
    height: 3rem;
}

.search-bar input{
    color: #FEF6ED;
    font: 1rem Comfortaa;
    padding: 0 0 0 20px;
    border: none;
    outline: none;
    border-radius: 1.875rem 0 0 1.875rem;
    background-color: #F7D490;
}

.search-bar button{
    border:none;
    padding: 0;
    margin: 0;
    cursor:pointer;
    border-radius: 0 1.875rem 1.875rem 0;
    transition: all 0.3s ease-out;
}

.search-bar.small button{
    width: 2.875rem;
    height: 2.625rem;   
    background: #C23A4B url("../../assets/icons/white/searchWhite.svg") no-repeat 0.3125rem/2rem;
}

.search-bar.normal button{
    width: 3.25rem;
    height: 3rem;
    background: #C23A4B url("../../assets/icons/white/searchWhite.svg") no-repeat 0.375rem/2.25rem;
}

@media screen and (max-width: 480px){
    .search-bar.small input{
        width: 34vw;
    }

    .search-bar.normal input{
        width: 42vw;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .search-bar.small input{
        width: 25vw;
    }

    .search-bar.normal input{
        width: 30vw;
    }
}

@media screen and (min-width: 769px) {
    .search-bar.small input{
        width: 16vw;
    }

    .search-bar.normal input{
        width: 20vw;
    }

    .search-bar button:hover{
        border-radius: 1.875rem;
    }

    .search-bar.small button:hover{
        width: 3.75rem;
        background-position: 0.9375rem 0.3125rem;
    }

    .search-bar.normal button:hover{
        width: 4.375rem;
        background-position: 1.0625rem 0.375rem;
    }
}
