form.search-bar{
    display:flex;
}

.search-bar img{
    background-color: #C23A4B;
    border-radius: 0 30px 30px 0;
}

.input-bar{
    color: #FEF6ED;
    font: 16px Comfortaa;
    padding: 0 0 0 20px;
    border: none;
    outline: none;
    border-radius: 30px 0 0 30px;
    background-color: #F7D490;
}

