.expandable-wiki-info .loading-text {
  margin-top: 0.5rem;
}

.wiki-info-name {
  cursor: pointer;
  padding: 1rem 0 1rem 2rem;
  border-radius: 0.75rem;
  color: #fef6ed;
  background-color: #f7d490;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

.wiki-info {
  text-align: justify;
}

.wiki-info * {
  max-width: 100%;
}

.wiki-info-name img {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  margin: auto 0;
  transition: transform 0.3s ease-out;
}

.wiki-info-name img.rotated {
  transform: rotate(90deg);
}
