#image-viewer > img {
  display: block;
  max-width: 100%;
  max-height: 40rem;
  margin: 0 auto 1rem;
  transition: opacity 0.4s ease-out;
}

#image-viewer img {
  border-radius: 0.5rem;
}

#image-viewer ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#image-viewer li {
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.4s ease-out;
}

#image-viewer li.active {
  opacity: 1;
}

#image-viewer li:not(:last-of-type) {
  margin-right: 0.5rem;
}

#image-viewer li img {
  max-width: 6rem;
  max-height: 6rem;
}
