#wrapper{
    width: 70%;
    margin: 0 auto;
}

header{
    height: 48px;
    margin-top: 20px;
    display:flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#name{
    font: bold 36px/48px Comfortaa;
    letter-spacing: 1px;
}

#right-panel{
    display: flex;
}

#right-panel .search-bar{
    margin-right: 25px;
}
