@font-face {
  font-family: 'Comfortaa';
  src: local('Comfortaa'), url(./assets/fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf) format('opentype');
}

body {
  color: #C23A4B;
  margin: 0;
  font-family: "Comfortaa", sans-serif;
  background-color: #FEF6ED;
}

.border-top{
  border-top: 2px solid #F7D490;
}

.border-bottom{
  border-bottom: 2px solid #F7D490;
}
