@font-face {
  font-family: 'Comfortaa';
  src: local('Comfortaa'), url(./assets/fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf) format('opentype');
}

body {
  margin: 0;
  font-family: "Comfortaa", sans-serif;
}
